#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&none      &none     &none           &none         &none  &none                      &none  &none  &none      &none            &none                 &none
&kp TAB    &kp Q     &kp W           &kp E         &kp R  &kp T                      &kp Y  &kp U  &kp I      &kp O            &kp P                 &kp MINUS
&kp LCTRL  &kp A     &kp S           &kp D         &kp F  &kp G  &none      &none    &kp H  &kp J  &kp K      &kp L            &kp SEMI              &kp SQT
&kp LSHFT  &kp Z     &kp X           &kp C         &kp V  &kp B  &kp SPACE  &kp RET  &kp N  &kp M  &kp COMMA  &kp DOT          &mt RIGHT_SHIFT FSLH  &kp RSHFT
&kp LGUI   &kp LALT  &kp DOWN_ARROW  &kp UP_ARROW  &mo 1  &mo 2  &mo 3      &mo 4    &mo 5  &none  &none      &kp PRINTSCREEN  &kp RALT              &kp RCTRL
            >;
        };

        layer_1 {
            bindings = <
&none      &none     &none     &none     &none     &none                                                          &none        &none  &none      &none            &none                 &none
&kp TAB    &kp Q     &kp W     &kp E     &kp R     &kp T                                                          &kp Y        &kp U  &kp I      &kp O            &kp P                 &kp MINUS
&kp LCTRL  &kp A     &kp S     &kp D     &kp F     &kp G        &none                      &none                  &kp H        &kp J  &kp K      &kp L            &kp SEMI              &kp SQT
&kp LSHFT  &kp Z     &kp X     &kp C     &kp V     &kp B        &kp SPACE                  &kp RET                &kp N        &kp M  &kp COMMA  &kp DOT          &mt RIGHT_SHIFT FSLH  &kp RSHFT
&kp LGUI   &kp LALT  &kp LGUI  &kp LALT  &kp BSPC  &lt 0 SPACE  &mt LEFT_SHIFT LANGUAGE_1  &mt RSHIFT LANGUAGE_2  &lt 0 ENTER  &none  &none      &kp PRINTSCREEN  &kp RALT              &kp RCTRL
            >;
        };

        layer_2 {
            bindings = <
&none      &none     &none     &none     &none     &none                                                          &none        &none  &none      &none            &none                 &none
&kp TAB    &kp Q     &kp W     &kp E     &kp R     &kp T                                                          &kp Y        &kp U  &kp I      &kp O            &kp P                 &kp MINUS
&kp LCTRL  &kp A     &kp S     &kp D     &kp F     &kp G        &none                      &none                  &kp H        &kp J  &kp K      &kp L            &kp SEMI              &kp SQT
&kp LSHFT  &kp Z     &kp X     &kp C     &kp V     &kp B        &kp SPACE                  &kp RET                &kp N        &kp M  &kp COMMA  &kp DOT          &mt RIGHT_SHIFT FSLH  &kp RSHFT
&kp LGUI   &kp LALT  &kp LGUI  &kp LALT  &kp BSPC  &lt 0 SPACE  &mt LEFT_SHIFT LANGUAGE_1  &mt RSHIFT LANGUAGE_2  &lt 0 ENTER  &none  &none      &kp PRINTSCREEN  &kp RALT              &kp RCTRL
            >;
        };

        layer_3 {
            bindings = <
&none      &none     &none     &none     &none     &none                                                          &none        &none  &none      &none            &none                 &none
&kp TAB    &kp Q     &kp W     &kp E     &kp R     &kp T                                                          &kp Y        &kp U  &kp I      &kp O            &kp P                 &kp MINUS
&kp LCTRL  &kp A     &kp S     &kp D     &kp F     &kp G        &none                      &none                  &kp H        &kp J  &kp K      &kp L            &kp SEMI              &kp SQT
&kp LSHFT  &kp Z     &kp X     &kp C     &kp V     &kp B        &kp SPACE                  &kp RET                &kp N        &kp M  &kp COMMA  &kp DOT          &mt RIGHT_SHIFT FSLH  &kp RSHFT
&kp LGUI   &kp LALT  &kp LGUI  &kp LALT  &kp BSPC  &lt 0 SPACE  &mt LEFT_SHIFT LANGUAGE_1  &mt RSHIFT LANGUAGE_2  &lt 0 ENTER  &none  &none      &kp PRINTSCREEN  &kp RALT              &kp RCTRL
            >;
        };

        layer_4 {
            bindings = <
&none      &none     &none     &none     &none     &none                                                          &none        &none  &none      &none            &none                 &none
&kp TAB    &kp Q     &kp W     &kp E     &kp R     &kp T                                                          &kp Y        &kp U  &kp I      &kp O            &kp P                 &kp MINUS
&kp LCTRL  &kp A     &kp S     &kp D     &kp F     &kp G        &none                      &none                  &kp H        &kp J  &kp K      &kp L            &kp SEMI              &kp SQT
&kp LSHFT  &kp Z     &kp X     &kp C     &kp V     &kp B        &kp SPACE                  &kp RET                &kp N        &kp M  &kp COMMA  &kp DOT          &mt RIGHT_SHIFT FSLH  &kp RSHFT
&kp LGUI   &kp LALT  &kp LGUI  &kp LALT  &kp BSPC  &lt 0 SPACE  &mt LEFT_SHIFT LANGUAGE_1  &mt RSHIFT LANGUAGE_2  &lt 0 ENTER  &none  &none      &kp PRINTSCREEN  &kp RALT              &kp RCTRL
            >;
        };

        layer_5 {
            bindings = <
&none      &none     &none     &none     &none     &none                                                          &none        &none  &none      &none            &none                 &none
&kp TAB    &kp Q     &kp W     &kp E     &kp R     &kp T                                                          &kp Y        &kp U  &kp I      &kp O            &kp P                 &kp MINUS
&kp LCTRL  &kp A     &kp S     &kp D     &kp F     &kp G        &none                      &none                  &kp H        &kp J  &kp K      &kp L            &kp SEMI              &kp SQT
&kp LSHFT  &kp Z     &kp X     &kp C     &kp V     &kp B        &kp SPACE                  &kp RET                &kp N        &kp M  &kp COMMA  &kp DOT          &mt RIGHT_SHIFT FSLH  &kp RSHFT
&kp LGUI   &kp LALT  &kp LGUI  &kp LALT  &kp BSPC  &lt 0 SPACE  &mt LEFT_SHIFT LANGUAGE_1  &mt RSHIFT LANGUAGE_2  &lt 0 ENTER  &none  &none      &kp PRINTSCREEN  &kp RALT              &kp RCTRL
            >;
        };
    };
};
